<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<style>
    .navbar{
        background-color: crimson !important;
    }
    .nav-link{
        color: white !important;
    }
</style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ path('home') }}">Fos User Bundle</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('home') }}">Home <span class="sr-only">(current)</span></a>
            </li>

            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('fos_user_profile_show') }}">Profile</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ url('fos_user_group_new') }}">New Group</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ url('fos_user_group_list') }}">List Group</a>
                </li>

            {% else %}

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('fos_user_registration_register') }}">Registration</a>
                </li>


            {% endif %}
        </ul>

    </div>
    <div>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
            <a href="{{ path('fos_user_security_logout') }}" class="btn btn-danger">
                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
            </a>
        {% else %}
            <a href="{{ path('fos_user_security_login') }}" class="btn btn-info">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
        {% endif %}
    </div>
</nav>


{% if app.request.hasPreviousSession %}
    {% for type, messages in app.session.flashBag.all %}
        {% for message in messages %}
            <div class="alert alert-primary" style="text-align: center;">
                {{ message|trans({}, 'FOSUserBundle') }}
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}

<div>
    {% block fos_user_content %}
    {% endblock fos_user_content %}
</div>

{% block javascripts %}
{% endblock %}
</body>

</html>
